*{
  background-color: bisque;
}

.App {
  text-align: center;
}

#bigHeader{
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  margin-top: 25px;
}
#main {
  margin:5%;
}

#beasts {
  border-color: black;
  display:inline-block;
  vertical-align: top;
  padding:20px;
  margin:10px;
  background-color: lightblue;
  overflow:auto;
}

.cardbody {
  height:25rem;

}

.cardtitle {
  font-size: 1.5rem;
  text-decoration: underline;
}

.cardimage {
  margin:5px
}

.card-text {
  text-align: center;

}

#bigfooter {
  font-size: 5rem;
}

.modal {
  height: fit-content;
  width: 600px;
  background-color: lightblue;
  border: 2px solid black;
}

.modalImage {
  border: 2px solid black;

}

